@charset "Shift_JIS";

/* ---------- all（基礎設定） ---------- */
body {
color: #444;
text-align: center;
background-image: url(back.gif);
padding: 0;
margin: 20px;
}

ul,li,img,form,p,h1,h2,h3,h4,h5 {
padding: 0;
margin: 0;
border-width: 0;
}

a:link {color: #583;}
a:visited {color: #275;}
a:hover {color: #e00;}

.center {text-align: center;}
.clear {clear: both;}



/* ---------- container（全体枠） ---------- */
#container {
width: 800px;
text-align: left;
background-image: url(side.gif);
margin: 0 auto;
}



/* ---------- header（上部分） ---------- */
#header {
}

#header_top {
width: 800px;
height: 40px;
color: #000;
font-size: 12px;
font-weight: normal;
letter-spacing: 2px;
line-height: 40px;
background-image: url(header.gif);
background-repeat: no-repeat;
margin: 0px auto;
}



/* ---------- title（題名部分） ---------- */
#title {
width: 800px;
height: 150px;
background-image: url(title.jpg);
}

#title p {
font-size: 25px;
font-weight: bold;
letter-spacing: 3px;
text-align: right;
padding: 42px 68px 0px 30px;
}

#title a:link {color: #000; text-decoration: none;}
#title a:visited {color: #000; text-decoration: none;}
#title a:hover {color: #ed0; text-decoration: none;}



/* ---------- top-navi（トップメニュー） ---------- */
#top-navi {
color: #555;
font-size: 13px;
letter-spacing: 1px;
padding: 0px 0px;
margin: 0px 0px 0px 0px;
}

#top-navi table {
margin: auto;
}

#top-navi td {
text-align: center;
background-repeat: no-repeat;
padding: 0px;
}

#top-navi td a {
display: block;
width: 126px;
height: 30px;
background-color: #fff;
line-height: 30px;
overflow: hidden;
text-decoration: none;
}

#top-navi td a:link {color: #444;}
#top-navi td a:visited {color: #444;}
#top-navi td a:hover {color: #a00;background-color: #fe2;}



/* ---------- navi（メニュー） ---------- */
#navi {
float: left;
width: 200px;
color: #555;
font-size: 13px;
letter-spacing: 1px;
}

.navi-sub {
color: #fff;
font-weight: bold;
text-align: center;
background-color: #693;
background-image: url(title-bg.gif);
border: 1px solid #444;
padding: 5px;
margin: 0 10px 6px 10px;
}

#navi ul {
list-style: none;
padding: 0 10px;
margin: 0 4px 16px 4px;
}

#navi li {
background-color: #fff;
background-image: url(list-mark.gif);
background-repeat: no-repeat;
padding: 8px 8px 8px 26px;
margin-bottom: 2px;
}

#navi a:link {color: #040;}
#navi a:visited {color: #230;}
#navi a:hover {color: #e00;}

.menu-text {
line-height: 19px;
padding: 2px 7px;
margin: 0 8px 20px 12px;
}

.banner {
text-align: center;
padding: 5px 0px;
margin-bottom: 2px;
}
.banner img {
margin-bottom: 8px;
}



/* ---------- main（メイン部分） ---------- */
#main {
float: right;
width: 588px;
padding-right: 12px;
}


/* --- 大見出し --- */
#main h2 {
font-size: 14px;
letter-spacing: 3px;
background-image: url(sub-bg.gif);
background-color: #eee;
border: 1px solid #ccc;
padding: 8px 13px;
margin-bottom: 14px;
}


/* --- 見出し --- */
#main h3 {
font-size: 80%;
letter-spacing: 2px;
border-bottom: 1px solid #bbb;
padding: 6px 4px 8px 4px;
margin: 0px 6px 6px 10px;
}


/* --- 文章内の強調文字 --- */
#main strong {
color: #e00;
font-weight: bold;
margin: 0px 3px;
}

#main em {
color: #000;
font-style: normal;
background-color: #ff8;
padding: 2px;
margin: 0px 3px;
}


/* --- 基本文章設定 --- */
div.main-text {
font-size: 80%;
line-height: 160%;
letter-spacing: 1px;
padding: 2px 6px 4px 6px;
margin-left: 10px;
margin-right: 5px;
margin-bottom: 12px;
}

#main p {
margin-bottom: 5px;
}

/* --- 枠付き文章 --- */
div.main-waku1 {
font-size: 80%;
line-height: 160%;
letter-spacing: 1px;
border: 1px solid #ccc;
padding: 12px 14px;
margin-left: 5px;
margin-right: 3px;
margin-bottom: 14px;
}

div.main-waku2 {
font-size: 80%;
line-height: 160%;
letter-spacing: 1px;
border: 1px dotted #aaa;
padding: 12px 14px;
margin-left: 5px;
margin-right: 3px;
margin-bottom: 14px;
}

div.main-waku3 {
font-size: 80%;
line-height: 160%;
letter-spacing: 1px;
border: 3px double #ccc;
padding: 12px 14px;
margin-left: 8px;
margin-right: 5px;
margin-bottom: 14px;
}

div.main-waku4 {
font-size: 80%;
line-height: 160%;
letter-spacing: 1px;
border: 4px dotted #ccc;
padding: 12px 14px;
margin-left: 10px;
margin-right: 7px;
margin-bottom: 14px;
}


/* --- お知らせ履歴 --- */
div.main-textarea {
overflow: auto;
width: 562px;
height: 160px;
font-size: 80%;
line-height: 160%;
letter-spacing: 1px;
padding: 0 6px;
margin-left: 10px;
margin-bottom: 24px;
}


/* --- 一覧テーブル（タイプ１） --- */
div.main-table {
padding-top: 10px;
padding-bottom: 14px;
}
div.main-table table {
background-color: #bbb;
margin: 0px auto 35px auto;
}
div.main-table th {
width: 100px;
line-height: 80%;
text-align: center;
background-color: #eee;
background-image: url(table-bg.gif);
padding: 8px 14px;
}
div.main-table td {

font-size: 80%;
letter-spacing: 1px;
line-height: 160%;
background-color: #fff;
padding: 8px 14px;
}

div.main-table table kbd {
font-size: 80%;
line-height: 80%;
letter-spacing: 2px;
}

div.main-table kbd {
font-size: 13px;
letter-spacing: 8px;
}

div.main-table kbd {
font-size: 80%;
letter-spacing: 8px;
}

div.main-table-text {
font-size: 80%;
line-height: 160%;
border: 1px solid #aaa;
padding: 14px;
margin: 0px 86px 36px;
}


/* --- 一覧テーブル（タイプ２） --- */
div.main-table dl {
font-size: 80%;
letter-spacing: 1px;
line-height: 150%;
margin-left: 20px;
}

div.main-table dt {
font-weight: bold;
margin-bottom: 8px;
}

div.main-table dd {
margin-left: 20px;
margin-bottom: 16px;
}

div.main-table span {color: #e82;}


/* --- 文章内の画像回り込み設定 --- */
table.table-width {
margin: 0px auto 10px auto;
}

img.img-table {margin: 6px 6px 10px 6px;}

img.img-float-left {
float: left;
margin: 5px 18px 15px 2px;
}

img.img-float-right {
float: right;
margin: 5px 4px 15px 15px;
}


/* --- リンク集 --- */
table.link th {
font-weight: normal;
letter-spacing: 2px;
padding-right: 2px;
}


/* --- リスト（箇条書き） --- */
div.main-list ul {
padding-top: 10px;
margin-left: 48px;
}

div.main-list ol {
padding-top: 6px;
margin-left: 8px;
}

div.main-list li {
font-size: 80%;
line-height: 160%;
margin-bottom: 4px;
}


/* --- 仕分け用テーブル --- */
div.make-table {
padding: 20px;
margin-bottom: 10px;
}

div.make-table table {
background-color: #bbb;
margin: 0px auto 24px auto;
}

div.make-table th {
font-size: 80%;
text-align: center;
background-color: #eee;
background-image: url(table-bg.gif);
padding: 8px 14px;
}
div.make-table td {
font-size: 80%;
letter-spacing: 1px;
line-height: 160%;
background-color: #fff;
padding: 8px 14px;
}


/* --- ギャラリー --- */
div.image-table {
padding: 12px 0px;
}
div.image-table table {
font-size: 80%;
line-height: 160%;
margin: 0 auto 12px;
}

div.image-table th {
text-align: center;
background-color: #eee;
background-image: url(table-bg.gif);
border: 1px solid #aaa;
padding: 6px;
}


/* --- パンクズ --- */
div.pan {
font-size: 13px;
font-weight: bold;
letter-spacing: 1px;
padding: 10px 15px;
margin-bottom: 14px;
}
div.pan span {
color: #d00;
}


/* --- 前後ページ移動リンク --- */
div.page {
font-size: 13px;
font-weight: bold;
letter-spacing: 1px;
padding: 10px 15px;
margin-bottom: 14px;
}
div.page span {
color: #d00;
}
div.page table {
width: 100%;
margin: 0px auto;
}


/* --- 伸縮自在メニュー --- */
div.menu1 {margin-bottom: 8px;}
div.menu1 table {margin: 0px auto;}
div.menu1 td a {
display: block;
width: 100%;
height: 26px;
font-size: 13px;
text-align: center;
background-color: #fff;
border: 1px solid #aaa;
line-height: 26px;
}
div.menu1 td a:link {color: #222;}
div.menu1 td a:visited {color: #222;}
div.menu1 td a:hover {color: #d00;background-color: #ff7;}


div.menu2 {margin-bottom: 8px;}
div.menu2 table {margin: 0px auto;}
div.menu2 td a {
display: block;
width: 100%;
height: 26px;
font-size: 13px;
text-align: center;
background-color: #ff8;
border: 1px solid #777;
line-height: 26px;
}
div.menu2 td a:link {color: #a60;}
div.menu2 td a:visited {color: #a60;}
div.menu2 td a:hover {color: #c08;background-color: #fdf;}


div.menu3 {margin-bottom: 8px;}
div.menu3 table {margin: 0px auto;}
div.menu3 td a {
display: block;
width: 100%;
height: 26px;
font-size: 13px;
text-align: center;
background-color: #333;
border: 1px solid #000;
line-height: 26px;
}
div.menu3 td a:link {color: #eee;}
div.menu3 td a:visited {color: #eee;}
div.menu3 td a:hover {color: #fff;background-color: #d20;}


/* --- サイトマップ --- */
div.sitemap {
font-size: 80%;
letter-spacing: 1px;
margin-bottom: 10px;
}

div.sitemap dt {
font-size: 100%;
font-weight: bold;
margin-bottom: 4px;
}
div.sitemap dd {
line-height: 130%;
}

div.sitemap table {
margin: 0px auto;
}


/* --- 文字装飾 --- */
div.font {
padding: 20px;
margin-bottom: 8px;
}

.font01 {
color: #d00;
font-size: 17px;
letter-spacing: 1px;
line-height: 22px;
font-weight: bold;
text-align: center;
background-color: #fee;
border: 1px solid #daa;
padding: 10px;
margin-bottom: 12px;
}

.font02 {
color: #d0d;
font-size: 17px;
letter-spacing: 1px;
line-height: 22px;
font-weight: bold;
text-align: center;
background-color: #fef;
border: 1px solid #dad;
padding: 10px;
margin-bottom: 12px;
}

.font03 {
color: #00d;
font-size: 17px;
letter-spacing: 1px;
line-height: 22px;
font-weight: bold;
text-align: center;
background-color: #eef;
border: 1px solid #aad;
padding: 10px;
margin-bottom: 12px;
}

.font04 {
color: #0a0;
font-size: 17px;
letter-spacing: 1px;
line-height: 22px;
font-weight: bold;
text-align: center;
background-color: #efe;
border: 1px solid #9c9;
padding: 10px;
margin-bottom: 12px;
}

.font05 {
font-size: 28px;
font-weight: bold;
text-align: left;
background-color: #fff;
border-bottom: 8px double #333;
padding: 9px 6px;
margin-bottom: 16px;
}

.font06 {
font-size: 28px;
font-weight: bold;
text-align: left;
background-color: #fff;
border-bottom: 6px dotted #333;
padding: 9px 6px;
margin-bottom: 16px;
}

.font07 {
font-size: 28px;
font-weight: bold;
text-align: left;
background-color: #fff;
border-top: 2px solid #333;
border-left: 22px solid #333;
border-right: 2px solid #333;
border-bottom: 2px solid #333;
padding: 12px 18px;
margin-bottom: 16px;
}

.font08 {
font-size: 28px;
font-weight: bold;
text-align: left;
background-color: #fff;
border: 4px double #333;
padding: 10px 18px;
margin-bottom: 16px;
}


/* --- バナーの一覧 --- */
div.banner-list {padding: 5px 0px;}
div.banner-list table {margin: 0px auto 4px;}



/* ---------- footer（下部分） ---------- */
#footer {padding: 0 12px 12px 12px;}



/* ---------- navi_bottom（下メニュー） ---------- */
#navi_bottom {
color: #777;
font-size: 13px;
letter-spacing: 1px;
text-align: center;
padding: 10px 12px;
margin-bottom: 4px;
}

#navi_bottom ul {
list-style: none;
padding: 0 8px;
margin: 0 0 12px 0;
}

#navi_bottom li {
display: inline;
margin: 0 2px;
}

#navi_bottom a:link {color: #333;}
#navi_bottom a:visited {color: #333;}
#navi_bottom a:hover {color: #e00;}



/* ---------- copyright（著作権表示） ---------- */
#copyright {
width: 800px;
height: 42px;
font-size: 12px;
font-weight: normal;
letter-spacing: 2px;
line-height: 40px;
color: #000;
font-size: 13px;
letter-spacing: 2px;
text-align: center;
background-image: url(footer.gif);
margin: 0px auto;
}